<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeveloperServicesPOS.PABDemo.PABDemo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeveloperServicesPOS.PABDemo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeveloperServicesPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DeveloperServicesPOS.PABDemo.PABDemo>
            <setting name="CCProcessingEnabled" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="RapidActivateURL" serializeAs="String">
                <value>https://staging.agreementexpress.net/api/TemplateServices/v2/publishTransaction?agexp_transrefid=LP_Test&amp;agexp_transfolderid=1748&amp;agexp_transcompany=645&amp;allRecipients=Owner1:Owner1&amp;aex_direct=true</value>
            </setting>
        </DeveloperServicesPOS.PABDemo.PABDemo>
        <DeveloperServicesPOS.PABDemo>
            <setting name="CCProcessingEnabled" serializeAs="String">
                <value>false</value>
            </setting>
        </DeveloperServicesPOS.PABDemo>
        <DeveloperServicesPOS.Properties.Settings>
            <setting name="PHAccountToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value>04173F8DCE65520D3580E5FF8555A961CECF249E46B5C2FAEFA04E248CD95FEA9D55BB581758D0591B</value>
            </setting>
            <setting name="DuplicateMode" serializeAs="String">
                <value />
            </setting>
            <setting name="RCMEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="RapidActivateURL" serializeAs="String">
                <value>https://staging.agreementexpress.net/api/TemplateServices/v2/publishTransaction?agexp_transrefid=LP_Test&amp;agexp_transfolderid=1748&amp;agexp_transcompany=645&amp;allRecipients=Owner1:Owner1&amp;aex_direct=true</value>
            </setting>
            <setting name="OEEnabled" serializeAs="String">
                <value />
            </setting>
        </DeveloperServicesPOS.Properties.Settings>
    </userSettings>
</configuration>