<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DM_Tester.Globals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DM_Tester.Globals>
            <setting name="XWebID" serializeAs="String">
                <value>800000001976</value>
            </setting>
            <setting name="AuthKey" serializeAs="String">
                <value>lod2vlitgd0qDaKo04TxX7JSbxPY2CAj</value>
            </setting>
            <setting name="TerminalID" serializeAs="String">
                <value>80023028</value>
            </setting>
            <setting name="NewMaskedAcctNum" serializeAs="String">
                <value />
            </setting>
            <setting name="NewExpDate" serializeAs="String">
                <value />
            </setting>
        </DM_Tester.Globals>
    </userSettings>
</configuration>