<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OEHP_Tester.PayPageCosmetic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OEHP_Tester.Globals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OEHP_Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <OEHP_Tester.PayPageCosmetic>
      <setting name="bill_customer_title_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_customer_title_visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bill_customer_title_edit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bill_customer_title_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_first_name_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_first_name_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_first_name_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_first_name_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_company_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_company_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_company_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_company_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_one_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_address_one_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_one_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_one_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_two_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_address_two_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_two_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_address_two_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_city_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_city_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_city_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_city_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_state_or_province_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_state_or_province_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_state_or_province_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_state_or_province_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_country_code_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_country_code_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_country_code_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_country_code_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_postal_code_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_postal_code_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_postal_code_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_postal_code_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="invoice_number_label" serializeAs="String">
        <value />
      </setting>
      <setting name="invoice_number_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="invoice_number_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="invoice_number_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="purchase_order_number_label" serializeAs="String">
        <value />
      </setting>
      <setting name="purchase_order_number_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="purchase_order_number_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="purchase_order_number_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="credit_card_verification_number_label" serializeAs="String">
        <value />
      </setting>
      <setting name="credit_card_verification_number_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="credit_card_verification_number_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="credit_card_verification_number_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="order_information_label" serializeAs="String">
        <value />
      </setting>
      <setting name="order_information_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="card_information_label" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="card_information_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customer_information_label" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customer_information_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_middle_name_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_middle_name_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_middle_name_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_middle_name_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_last_name_label" serializeAs="String">
        <value />
      </setting>
      <setting name="bill_last_name_visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_last_name_mandatory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bill_last_name_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="font_family" serializeAs="String">
        <value />
      </setting>
      <setting name="font_size" serializeAs="String">
        <value />
      </setting>
      <setting name="color" serializeAs="String">
        <value />
      </setting>
      <setting name="background_color" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_color" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_background_color" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_height" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_width" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_top_left_radius" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_top_right_radius" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_bottom_left_radius" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_bottom_right_radius" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_color" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_border_width" serializeAs="String">
        <value />
      </setting>
      <setting name="btn_font_size" serializeAs="String">
        <value />
      </setting>
      <setting name="section_header_font_size" serializeAs="String">
        <value>24px</value>
      </setting>
      <setting name="line_spacing_size" serializeAs="String">
        <value>1px</value>
      </setting>
      <setting name="input_field_height" serializeAs="String">
        <value>20px</value>
      </setting>
      <setting name="btn_border_style" serializeAs="String">
        <value />
      </setting>
    </OEHP_Tester.PayPageCosmetic>
    <OEHP_Tester.Globals>
      <setting name="AccountToken" serializeAs="String">
        <value>04173F8DCE65520D3580E5FF8555A961CECF249E46B5C2FAEFA04E248CD95FEA9D55BB581758D0591B</value>
      </setting>
      <setting name="DefaultAccountToken" serializeAs="String">
        <value>04173F8DCE65520D3580E5FF8555A961CECF249E46B5C2FAEFA04E248CD95FEA9D55BB581758D0591B</value>
      </setting>
      <setting name="LoopBackAccountToken" serializeAs="String">
        <value>3C6D0A90CE65590E308DEDFC8657AC62CDCF2B9E43B2CAFEEDA34B258CDE5FEA9B51BE5C8A78F86FFC</value>
      </setting>
      <setting name="CanadianAccountToken" serializeAs="String">
        <value>301B206BCE6D570C378EEEFB8D59AD60CFCB2D9542B1C4FFEBA9402185DE5FEA9953BE585C8E0F121D</value>
      </setting>
      <setting name="QueryResponseMode" serializeAs="String">
        <value>Querystring</value>
      </setting>
      <setting name="ProcessingMode" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="SubmitMethod" serializeAs="String">
        <value>PayPage Post</value>
      </setting>
      <setting name="CustomParameters" serializeAs="String">
        <value />
      </setting>
    </OEHP_Tester.Globals>
    <OEHP_Tester.Properties.Settings>
      <setting name="IsFirstRun" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="AccountToken" serializeAs="String">
        <value>04173F8DCE65520D3580E5FF8555A961CECF249E46B5C2FAEFA04E248CD95FEA9D55BB581758D0591B</value>
      </setting>
    </OEHP_Tester.Properties.Settings>
  </userSettings>
</configuration>